*{
    margin:0;
    padding:0;
    --primary-color: black;
    --border-color:gray;
}

body{
    background-color: var(--primary-color);
    color:white;
    height: 100vh !important;
    overflow-x: hidden;
    overflow-y: hidden;
}

nav{
    padding:2rem;
    display: flex ;
    width:calc(100vw);
    justify-content: space-between;
    
}

.remaining-langs{
    position: fixed;
    margin-left:1rem;
    
    display: inline;
    padding: .5rem;
    border: 2px solid;
    border-color: var(--border-color);
    border-radius: 15px;
    width:fit-content;
}

.lang{
    text-align: center;
    align-items: center;
    
    display: flex;
    justify-content: space-around;
    width: max-content;
}

.lang p{
    margin:10px;
}


button{
    margin-left:.5rem;
    color:white;
    background-color: var(--primary-color);
    border: 2px solid;
    border-color: var(--border-color);
    padding:.5rem;
    border-radius:15px;
    width:max-content !important;
    justify-content: space-between;
    transition: .5s;
}

button:hover{
   
    color:white;
    background-color: greenyellow;
    border: 2px solid;
    border-color: greenyellow;
    padding:.5rem;
    border-radius:30px;
    transition: .7s;

}

.main-game{

    width:100vw;
    display: block;
    margin-top:10%;
    height: 100%;
    text-align: center;

}

#life{
    margin-left: auto;
    margin-right: auto;
}

#hangman{
    margin-left: 49%;;
    text-align: left;
}